@model IEnumerable<DotNetReq2Offer.Models.tbl_External_Req>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account_Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_CTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expected_CTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request_Raised_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_Joining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved_Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Margin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notice_Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Years_Of_Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Customer.Customer__Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Employee_Type.Employee_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_User.Employee_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_CTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expected_CTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Raised_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Of_Joining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved_Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Margin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notice_Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Years_Of_Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Customer.Customer__Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Employee_Type.Employee_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_User.Employee_Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.External_Rqq_Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.External_Rqq_Id }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.External_Rqq_Id })*@
        </td>
    </tr>
}

</table>
