@model IEnumerable<DotNetReq2Offer.Models.tbl_Select_Candidate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Creation_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer_Validity_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Joining_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Employee_Type.Employee_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_External_Req.Account_Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Internal_Req.Skill)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Creation_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer_Validity_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Joining_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Employee_Type.Employee_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_External_Req.Account_Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Internal_Req.Skill)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Reference_number }) |
            @Html.ActionLink("Details", "Details", new { id=item.Reference_number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Reference_number })
        </td>
    </tr>
}

</table>
